database/
Others/NN/data
mt5/

st/hk_volume_all.parquet
st/hk_price_close_all.parquet
st/hk_price_open_all.parquet
us_open/nas100.csv
us_open/sp500.csv
us_open/us30.csv
us_open/us30_20240823_20230825.csv
.env
us_open/__pycache__

binance_res/


st/garch_tw_etf_280_2017_2018_monthly.parquet
st/garch_tw_etf_280_2017_2018_weekly.parquet
st/tw_etf_280_2017_2018_weekly.parquet
st/tw_etf_280_2020_2021_monthly.parquet
st/tw_etf_280_2022_2023_weekly.parquet