database/
Others/NN/data
mt5/

st/hk_volume_all.parquet
st/hk_price_close_all.parquet
st/hk_price_open_all.parquet
us_open/nas100.csv
us_open/sp500.csv
us_open/us30.csv
us_open/us30_20240823_20230825.csv